* {
	margin: 0;
}

body {
    display: grid;
    grid-template-rows:
                    [head]100px
                    []auto
                    []auto
                    []auto
                    []auto
                    [foot]100px;
    grid-template-columns: 20px 1fr 20px;
    grid-row-gap: 20px;
    row-gap: 40px;
    font-family: sans-serif;
}

body > * {
    grid-column: 2 / -2;
}

img {
    width: 100%;
    height: auto;
}
header {
    grid-row: head;
    justify-self: center;
    align-self: center;
    
}
header li {
    list-style: none;
}